<section id="superpowers" class="container text-center my-5 py-2">
    <h2 class="font-weight-bold my-4">Administra tus Super Poderes</h2>
    <div class="border-bottom border-dark w-25 mx-auto"></div>
    <div class="row my-4">
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/finantial_products"><i class="fas fa-dice-d20 fa-8x my-3"></i></a>
        <h3 class="my-3">Productos Financieros</h3>
        <p class="my-3">Ver, crear, editar y eliminar</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/posts"><i class="fab fa-ioxhost fa-8x my-3"></i></a>
        <h3 class="my-3">Post para blog</h3>
        <p class="my-3">Ver, crear, editar y eliminar</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/finantial_infos"><i class="fab fa-connectdevelop fa-8x my-3"></i></a>
        <h3 class="my-3">Información financiera</h3>
        <p class="my-3">Ver</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/product_types"><i class="fas fa-journal-whills fa-8x my-3"></i></a>
        <h3 class="my-3">Tipos de producto</h3>
        <p class="my-3">Ver, crear, editar y eliminar</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/institution_types"><i class="fab fa-galactic-senate fa-8x my-3"></i></a>
        <h3 class="my-3">Instituciones Financieras</h3>
        <p class="my-3">Ver, crear, editar y eliminar</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/worker_types"><i class="fab fa-galactic-republic fa-8x my-3"></i></a>
        <h3 class="my-3">Tipos de trabajador</h3>
        <p class="my-3">Ver, crear, editar y eliminar</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/visa_types"><i class="fas fa-khanda fa-8x my-3"></i></a>
        <h3 class="my-3">Tipos de visa</h3>
        <p class="my-3">Ver, crear, editar y eliminar</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" data-container="body" href="/home/users"><i class="fas fa-user-astronaut fa-8x my-3"></i></a>
        <h3 class="my-3">Usuarios</h3>
        <p class="my-3">Ver</p>
      </div>
  </section>