<% if current_user %>
    <%= link_to "Cerrar sesi칩n", destroy_user_session_path, method: :delete, class:"btn btn-secondary" %>
<% else %>
    <section id="aboutme" class="container text-center my-5 pt-5">
        <div class="d-flex row">
            <%= image_tag 'banca2.png', :width=> "300", :height=> "auto", :loading=> "lazy", class:"mx-auto col-md-6" %>
            <div class="my-5 col-md-6">
                <h3 class="text-justify">Bienvenido Banca Friendly, la 칰nica plataforma de educaci칩n financiera especializada en migrantes en Chile</h3>
                <br>
                <br>
                <h3 class="text-justify"> 쯈uieres hackear el sistema financiero y aprovechar sus beneficios? Registrate aqu칤 para conocer m치s:</h3>
                <br>
                <br>
                <%= link_to "Registrate", new_user_registration_path, class: "btn btn-secondary mx-2" %>
                <a href="#superpowers" class="text-muted text-center d-block mt-3">쮺칩mo funciona?</a>
            </div>

        </div>
            
    </section>

    <section id="superpowers" class="container text-center my-5">
        <div class="border-bottom border-dark w-25 mx-auto mb-3"></div>
        <h2 class="font-weight-bold my-4">쮺칩mo funciona?</h2>
        <div class="border-bottom border-dark w-25 mx-auto"></div>
        <div class="row my-4">
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="La gema m치s poderosa de las finanzas"><i class="fas fa-dice-d20 fa-8x my-3"></i></button>
            <h3 class="my-3">Economista</h3>
            <p class="my-3">desde 2012</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Intentando salvar al mundo de Dicom"><i class="fas fa-khanda fa-8x my-3"></i></button>
            <h3 class="my-3">Trainer financiera</h3>
            <p class="my-3">desde 2018</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Mutando a dev... 游놓"><i class="fab fa-connectdevelop fa-8x my-3"></i></button>
            <h3 class="my-3">PM & Developer Jr, Credit칰</h3>
            <p class="my-3">desde 2020</p>
        </div>
        </div>
    </section>
<% end %>
