
<section id="aboutme" class="container text-center my-5 pt-5">
    <div class="d-flex row">
        <%= image_tag 'banca2.png', :width=> "400", :height=> "auto", :loading=> "lazy", class:"mx-auto col-md-6" %>
        <p class="font-weight-bold my-5 col-md-6 text-justify">Te presento mi identidad secreta: Banca Friendly. Una superhero铆na que busca a trav茅s de su blog y redes sociales llenar de conocimientos financieros a todos lo habitantes de Chile</p>
    </div>
    <div class="border-bottom border-dark w-25 mx-auto mb-3"></div>
    <div class="text-description mt-5 d-inline-flex">
    <div class="row">
        <div class="description-column col-6 text-justify">
        <p class="text-left">BancaFriendly nace a mediados de 2018, en redes sociales como una plataforma para compartir informaci贸n y asesorar sobre productos y servicios financieros en Chile, sin distinci贸n de nacionalidad o edad. La idea surge por la falta de informaci贸n en la poblaci贸n bancarizada y por las malas pr谩cticas en algunas estrategias comerciales.</p> 
        </div>
        <div class="description-column col-6 text-justify">
        <p class="text-left">En BancaFriendly descrifr贸 de una manera clara, precisa y transparente la banca y todos los actores del mercado financiero en Chile promoviendo un lenguaje #friendly para nuestra comunidad.  Estoy al lado de los clientes, y nme compromet贸 a mantenerte actualizado y al tanto del acontecer financiero, de una manera simple y divertida わ</p> 
        </div>
    </div>
    </div>      
</section>

<section id="superpowers" class="container text-center my-5">
    <h2 class="font-weight-bold my-4">Super Poderes</h2>
    <div class="border-bottom border-dark w-25 mx-auto"></div>
    <div class="row my-4">
    <div class="col-md-4">
        <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="La gema m谩s poderosa de las finanzas"><i class="fas fa-dice-d20 fa-8x my-3"></i></button>
        <h3 class="my-3">Economista</h3>
        <p class="my-3">desde 2012</p>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Intentando salvar al mundo de Dicom"><i class="fas fa-khanda fa-8x my-3"></i></button>
        <h3 class="my-3">Trainer financiera</h3>
        <p class="my-3">desde 2018</p>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Mutando a dev... "><i class="fab fa-connectdevelop fa-8x my-3"></i></button>
        <h3 class="my-3">PM & Developer Jr, Credit煤</h3>
        <p class="my-3">desde 2020</p>
    </div>
    </div>
</section>

