<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ahora eres friendly-pro</h1>
    <p>
      Muchas gracias por confiar en nosotros. Ahora tendrás acceso a más productos financieros para escoger.
    </p>
  </body>
</html>